.field {
    width: 86%;
    padding-left: 2%;
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
}

.name {
    width: 100%;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
}

.name .title {
    font-size: 4.5vw;
    color: #545454;
    font-weight: bold;
}

.name .subtitle {
    padding-top: 3vw;
    font-size: 2vw;
    color: #545454;
}

.name .subtitle-divider {
    width: 34%;
    color: #163853;
    margin-top: 1vw;
    border: 3px solid #163853;
}

.about {
    width: 100%;
    margin-top: 5vw;
}

.about .title {
    color: #163853;
    font-size: 2vw;
    font-weight: 600 !important;
}

.about .title-divider {
    width: 100%;
    color: #163853;
    margin-top: 1vw;
    border: 1px solid #163853;
}

.about .text {
    color: #545454;
}