<div class="field">
    <div class="name">
        <span class="title">Everson Mendes</span>
        <span class="subtitle">FULL STACK DEVELOPER</span>
        <mat-divider class="subtitle-divider"></mat-divider>
    </div>

    <div class="about">
        <span class="title">SOBRE</span>
        <mat-divider class="title-divider"></mat-divider>
        <br>
        <span class="text">
            Olá! Sou um desenvolvedor full stack. Atualmente, estou desfrutando do cargo de
            sênior na InterOp, uma empresa em Porto Alegre, Rio Grande do Sul, Brasil. Aqui, tenho
            a oportunidade de liderar tecnicamente projetos desafiadores e colaborar com a
            equipe.
            Minha jornada nesta carreira, se iniciou no curso técnico em informática, Senac - RS,
            onde passei um ano estudando presencialmente, utilizando tecnologias como: java e
            php, para desenvolver projetos ao longo do curso. Desde então, iniciei meus primeiros
            passos no mundo do desenvolvimento na empresa InterOp, no cargo de analista de
            suporte, ajudando a manter os sistemas e desenvolvendo soluções para ferramentas
            de suporte, após algum tempo fui promovido para pleno e por fim a sênior,
            aproveitando meus conhecimentos e habilidades para orientar e contribuir ainda mais
            para o sucesso da equipe.
            Com mais de seis meses no cargo de sênior, tenho me dedicado a aprimorar minhas
            habilidades em uma variedade de competências, incluindo C#, Angular e outras
            tecnologias relevantes para o desenvolvimento full stack. Trabalhando em um
            ambiente híbrido, tenho a flexibilidade de colaborar com colegas tanto
            presencialmente quanto remotamente, garantindo que nossos projetos avancem de
            maneira eficaz.
            Estou entusiasmado com os desafios futuros e ansioso para continuar crescendo
            profissionalmente nesta área dinâmica e empolgante do desenvolvimento de software.
        </span>
    </div>

    <div class="about">
        <span class="title">EXPERIÊNCIA</span>
        <mat-divider class="title-divider"></mat-divider>
        <br>
        <div>
            <mat-stepper orientation="vertical">
                <mat-step label="FULL STACK DEVELOPER | SÊNIOR" state="phone">
                    <p>InterOp</p>
                    <span>DEZ 2023 - O MOMENTO</span>
                    <div>
                        <span>
                            Competências: C#, CSS, JavaScript, Desenvolvimento web, HTML5 ·
                            AngularJS, Angular Material, ASP NET MVC, Microsoft SQL Server,
                            SQL, GitLab, Integração e entrega contínuas (CI/CD)
                        </span>
                    </div>
                </mat-step>
                <mat-step label="FULL STACK DEVELOPER | PLENO" state="chat">
                    <p>InterOp</p>
                    <span>JAN 2023 - DEZ 2023</span>
                    <div>
                        <span>
                            Competências: C#, CSS, JavaScript, HTML5 · AngularJS · Angular
                            Material, SQL.
                        </span>
                    </div>
                </mat-step>
                <mat-step label="ANALISTA DE SUPORTE">
                    <p>InterOp</p>
                    <span>NOV 2022 - JAN 2023</span>
                    <div>
                        <span>
                            Desenvolvimento de ferramenta para suporte e atendimento ao
                            cliente, monitoramento de servidores, cadastro de usuários(Active
                            Directory), prestação de suporte aos sistemas do cliente.
                        </span>
                    </div>
                </mat-step>
              </mat-stepper>
        </div>
    </div>
</div>
