<div class="body">
  <div class="contact-title">
    <div class="img-01">
      <img src="assets/avatar2.webp" alt="">
    </div>
    <div class="msg">
      <h1>Olá, eu sou Everson Oliveira Mendes</h1>
      <h5>Desenvolvedor de Software Sênior.</h5>
    </div>
  </div>
  <div class="myProjects">
    <div class="img-02">
      <img src="assets/avatar_apontando.webp" alt="">
    </div>
    <div class="msg">
      <h1>Meus projetos em destaque</h1>
      <div class="projects">
        <span>Em construção!</span>
      </div>
    </div>
  </div>
</div>
