header {
  background-color: #163853;
}

.menu {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  /* justify-content: center; */
}

.options button {
  color: aliceblue;
  padding: 22px;
}

.options button:disabled {
  color: #a0b9d6;
  background-color: #163853;
  opacity: 0.6;
  cursor: not-allowed;
}


.divisor {
  padding: 10px;
  color: rgb(150, 203, 249);
}

/*
.options a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
} */

.links {
  width: 10%;
  min-width: 165px;
  display: flex;
  justify-content: flex-end;
}

.links img {
  padding: 20px;
}

.active {
	background-color: #022748b5;
  /* border: 1px solid rgb(0, 3, 78); */
}

.router {
	flex: 1 1 auto;
	padding: 8px 16px;
	overflow: auto;
}
