<header class="menu">
  <!-- <div class="logo">
    <div class="photoCircle">
      <img src="assets/photoPerfil.jpg" alt="Foto do perfil de Everson Mendes">
    </div>
    <span>Everson Mendes</span>
  </div> -->
  <div class="options">
    <button class="button" mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>Inicio
    </button>
    <span class="divisor">|</span>
    <button class="button" mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>Sobre
    </button>
    <span class="divisor">|</span>
    <button class="button" mat-button routerLink="/projets" routerLinkActive="active" [disabled]="true">
      <mat-icon>folder_open</mat-icon> Meus Projetos
    </button>
  </div>
  <!-- <div class="links">
    <img src="../assets/github.png" alt="github" width="35px">
    <img src="../assets/linkedin.png" alt="linkedin" width="35px">
  </div> -->
</header>

<router-outlet></router-outlet>
