<body>

    <div class="toolbar">
        <div class="photoCircle">
            <img src="assets/photoPerfil.jpg" alt="">
        </div>

        <div class="contact">
            <span class="title">Informações</span>
            <mat-divider></mat-divider>
            <div class="content">
                <div class="tel">
                    <mat-icon>call</mat-icon>
                    <span>+55 43 9 8445-8966</span>
                </div>
                <br>
                <div class="email">
                    <mat-icon>outgoing_mail</mat-icon>
                    <span>eversonmendes301&#64;gmail.com</span>
                </div>
                <br>
                <div class="address">
                    <mat-icon>location_on</mat-icon>
                    <span>Porto Alegre - RS</span>
                </div>
                <br>
                <div class="linkedin">
                    <mat-icon>link</mat-icon>
                    <span>
                        <a href="https://www.linkedin.com/in/eversonmendes301">eversonmendes301</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="education">
            <span class="title">Formação academica</span>
            <mat-divider></mat-divider>
            <div class="content">
                <span>Univesidade Estácio</span>
                <small>2023 - 2025</small>
                <small> - Análise e desenvolvimento de sistemas.</small>
            </div>
            <br>
            <div class="content">
                <span>Senac - RS</span>
                <small>2014 - 2016</small>
                <small> - Técnico em informática.</small>
            </div>
        </div>

        <div class="competencies">
            <span class="title">Competências</span>
            <mat-divider></mat-divider>
            <div class="content">
                <span> - Project Management</span>
            </div>
            <div class="content">
                <span> - Effective Communication</span>
            </div>
        </div>

    </div>

    <button mat-button color="basic" (click)="toggleMenu()" *ngIf="this.isMenuOpen">
        <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
    <main>
        <app-main-portfolio></app-main-portfolio>
    </main>

</body>
